<% provide(:title, 'Topics') %>

<table id="forums">
  <tr>
    <th>Name</th>
    <th>Last Poster</th>
    <th>Last Post At</th>
    <th>Forum</th>
    <th>User</th>
  </tr>
  <% for topic in @topics %>
    <tr>
      <td><%= topic.name %></td>
      <td><%= topic.last_poster_id %></td>
      <td><%= topic.last_post_at %></td>
      <td><%= topic.forum_id %></td>
      <td><%= topic.user_id %></td>
      <td><%= link_to "Show", topic %></td>
      <td><%= link_to "Edit", edit_topic_path(topic) %></td>
      <td><%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Topic", new_topic_path %></p>
